:root.theme-dark {
  --color: #f1b2ce;
  --accent-color: #ff0070;

  --heading-color: #db00ff;
  --button-text-color: var(--accent-color);
  --button-border-color: var(--accent-color);
  --button-border-color-hover: #ff007040;
  --button-border-color-focus: var(--accent-color);
  --link-color: var(--color);
  --link-shadow-color: var(--accent-color);
  --link-border-color: var(--color);

  --decorated-color: var(--accent-color);

  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);

  --feature-display: block;
}

.theme-dark .title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
}
