:root.theme-light {
  --color: #353430;
  --accent-color: #ff8dcb;

  --heading-color: #ffc2e6;
  --button-text-color: var(--color);
  --button-border-color: var(--color);
  --button-border-color-hover: #32312d40;
  --button-border-color-focus: var(--color);
  --link-color: var(--color);
  --link-shadow-color: var(--accent-color);
  --link-border-color: var(--color);

  --decorated-color: var(--color);

  --background-color: var(--accent-color);
  --background-image: url(../images/cover-image-light.png);

  --feature-display: none;
}

.theme-light .title-decor {
  background-color: var(--accent-color);
  color: var(--color);
}

.theme-light .h2-title {
  color: var(--color);
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #353430;
    --accent-color: #ff8dcb;

    --heading-color: #ffc2e6;
    --button-text-color: var(--color);
    --button-border-color: var(--color);
    --button-border-color-hover: #32312d40;
    --button-border-color-focus: var(--color);
    --link-color: var(--color);
    --link-shadow-color: var(--accent-color);
    --link-border-color: var(--color);

    --decorated-color: var(--color);

    --background-color: var(--accent-color);
    --background-image: url(../images/cover-image-light.png);

    --feature-display: none;
  }

  .title-decor {
    background-color: var(--accent-color);
    color: var(--color);
  }

  .h2-title {
    color: var(--color);
  }
}
